<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Farenheit 452</title>
</head>

<body class="page-index">
    <div class="container">
        <h1>Farenheit 452</h1>
        <p>Gérez votre  bibliothèque en quelques clic.</p>

        <p>
            <a href="./register.html">Inscription</a>
            <a href="./login.html">Connexion</a>
        </p>
    </div>
    
</body>

</html>